.list-group {
  list-style: none;

  border: none;
  margin-top: 14px;
}

.see-project {
  width: 130px;
}
/* .card {
    border: none;
} */
.list-group-item {
  border: none;
}

#headline {
  justify-content: center;
  background-image: url('images/headerimg.png');
  height: 40em;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}
